<div class='page'>
	<div class='section'>
		<div class='title'>About</div>

		<div class='content'>
			<div class='paragraph'>
				A wine and beer manager and search tool app.
			</div>
		</div>
	</div>

	<div class='section'>
		<div class='title'>Credits</div>

		<div class='content'>
			<div class='paragraph'>
				This section gives resources author their deserved attribution.
			</div>

			<div class='paragraph'>
				<ul>
					<li>Author: Q_x</li>
					<li>Resource: Bottle <a href='App Icon'>https://opengameart.org/content/beer-bottle-openclosed</a></li>
					<li>License: <a href='https://creativecommons.org/licenses/by-sa/3.0/'>CC-BY-SA 3.0</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
